body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:681px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 255, 0.8470588235294118);
  text-align:right;
}
#u5900 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:17px;
  width:84px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 255, 0.8470588235294118);
  text-align:right;
}
#u5900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5901 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:21px;
  width:75px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:376px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
}
#u5904 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:62px;
  width:557px;
  height:376px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
}
#u5904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
  background:inherit;
  background-color:rgba(65, 158, 255, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5906 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:389px;
  width:76px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5907 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:389px;
  width:76px;
  height:28px;
  display:flex;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#555555;
}
#u5907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
}
#u5907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5908 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:132px;
  width:557px;
  height:1px;
  display:flex;
  transition:none;
}
#u5908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:2px;
}
#u5908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(51, 51, 51, 0.7490196078431373);
}
#u5910 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:219px;
  width:91px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(51, 51, 51, 0.7490196078431373);
}
#u5910 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5910_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:37px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5912 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:248px;
  width:489px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5912 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5913 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:284px;
  width:489px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5913 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-left:0px;
  border-right:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5914 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:320px;
  width:489px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u5914 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:295px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:287px;
  width:75px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u5917 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:287px;
  width:75px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u5918 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:295px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5920 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:295px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5921 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:259px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5922 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:259px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5922_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5923 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:248px;
  width:1px;
  height:109px;
  display:flex;
  transition:none;
  color:rgba(51, 51, 51, 0.3803921568627451);
}
#u5923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:110px;
}
#u5923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:259px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5924 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5924_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:248px;
  width:1px;
  height:109px;
  display:flex;
  transition:none;
  color:rgba(51, 51, 51, 0.3803921568627451);
}
#u5925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:110px;
}
#u5925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u5926 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:295px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u5926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#D9001B;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:331px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#D9001B;
}
#u5927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(99, 161, 3, 0.9921568627450981);
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:295px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(99, 161, 3, 0.9921568627450981);
}
#u5928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(99, 161, 3, 0.9921568627450981);
}
#u5929 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:331px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(99, 161, 3, 0.9921568627450981);
}
#u5929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5931 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:333px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u5932 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:325px;
  width:75px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u5932 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u5933 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:325px;
  width:75px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u5933 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5934 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:333px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5935 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:333px;
  width:38px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  line-height:24px;
}
#u5937 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:86px;
  width:104px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  line-height:24px;
}
#u5937 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5937_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u5938 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:62px;
  width:32px;
  height:24px;
  display:flex;
  opacity:0;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u5938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u5940 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:62px;
  width:24px;
  height:24px;
  display:flex;
  opacity:0;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u5940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 255, 0.8470588235294118);
  text-align:right;
}
#u5941 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:86px;
  width:150px;
  height:33px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 255, 0.8470588235294118);
  text-align:right;
}
#u5941 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 29px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u5942 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:86px;
  width:64px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u5942 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5942_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Songti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5945 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:182px;
  width:94px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Songti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5945 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5946 label {
  left:0px;
  width:100%;
  height:100%;
}
#u5946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u5946 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:186px;
  width:56px;
  height:15px;
  display:flex;
  transition:none;
}
#u5946 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u5946_img.selected {
}
#u5946.selected {
}
#u5946_img.disabled {
}
#u5946.disabled {
}
#u5946_img.selected.error {
}
#u5946.selected.error {
}
#u5946_img.selected.hint {
}
#u5946.selected.hint {
}
#u5946_img.selected.error.hint {
}
#u5946.selected.error.hint {
}
#u5946_img.mouseOver.selected {
}
#u5946.mouseOver.selected {
}
#u5946_img.mouseOver.selected.error {
}
#u5946.mouseOver.selected.error {
}
#u5946_img.mouseOver.selected.hint {
}
#u5946.mouseOver.selected.hint {
}
#u5946_img.mouseOver.selected.error.hint {
}
#u5946.mouseOver.selected.error.hint {
}
#u5946_img.mouseDown.selected {
}
#u5946.mouseDown.selected {
}
#u5946_img.mouseDown.selected.error {
}
#u5946.mouseDown.selected.error {
}
#u5946_img.mouseDown.selected.hint {
}
#u5946.mouseDown.selected.hint {
}
#u5946_img.mouseDown.selected.error.hint {
}
#u5946.mouseDown.selected.error.hint {
}
#u5946_img.mouseOver.mouseDown.selected {
}
#u5946.mouseOver.mouseDown.selected {
}
#u5946_img.mouseOver.mouseDown.selected.error {
}
#u5946.mouseOver.mouseDown.selected.error {
}
#u5946_img.mouseOver.mouseDown.selected.hint {
}
#u5946.mouseOver.mouseDown.selected.hint {
}
#u5946_img.mouseOver.mouseDown.selected.error.hint {
}
#u5946.mouseOver.mouseDown.selected.error.hint {
}
#u5946_img.focused.selected {
}
#u5946.focused.selected {
}
#u5946_img.focused.selected.error {
}
#u5946.focused.selected.error {
}
#u5946_img.focused.selected.hint {
}
#u5946.focused.selected.hint {
}
#u5946_img.focused.selected.error.hint {
}
#u5946.focused.selected.error.hint {
}
#u5946_img.selected.disabled {
}
#u5946.selected.disabled {
}
#u5946_img.selected.hint.disabled {
}
#u5946.selected.hint.disabled {
}
#u5946_img.selected.error.disabled {
}
#u5946.selected.error.disabled {
}
#u5946_img.selected.error.hint.disabled {
}
#u5946.selected.error.hint.disabled {
}
#u5946_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:43px;
  white-space:nowrap;
  text-transform:none;
}
#u5946_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5947 label {
  left:0px;
  width:100%;
  height:100%;
}
#u5947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u5947 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:186px;
  width:43px;
  height:15px;
  display:flex;
  transition:none;
}
#u5947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u5947_img.selected {
}
#u5947.selected {
}
#u5947_img.disabled {
}
#u5947.disabled {
}
#u5947_img.selected.error {
}
#u5947.selected.error {
}
#u5947_img.selected.hint {
}
#u5947.selected.hint {
}
#u5947_img.selected.error.hint {
}
#u5947.selected.error.hint {
}
#u5947_img.mouseOver.selected {
}
#u5947.mouseOver.selected {
}
#u5947_img.mouseOver.selected.error {
}
#u5947.mouseOver.selected.error {
}
#u5947_img.mouseOver.selected.hint {
}
#u5947.mouseOver.selected.hint {
}
#u5947_img.mouseOver.selected.error.hint {
}
#u5947.mouseOver.selected.error.hint {
}
#u5947_img.mouseDown.selected {
}
#u5947.mouseDown.selected {
}
#u5947_img.mouseDown.selected.error {
}
#u5947.mouseDown.selected.error {
}
#u5947_img.mouseDown.selected.hint {
}
#u5947.mouseDown.selected.hint {
}
#u5947_img.mouseDown.selected.error.hint {
}
#u5947.mouseDown.selected.error.hint {
}
#u5947_img.mouseOver.mouseDown.selected {
}
#u5947.mouseOver.mouseDown.selected {
}
#u5947_img.mouseOver.mouseDown.selected.error {
}
#u5947.mouseOver.mouseDown.selected.error {
}
#u5947_img.mouseOver.mouseDown.selected.hint {
}
#u5947.mouseOver.mouseDown.selected.hint {
}
#u5947_img.mouseOver.mouseDown.selected.error.hint {
}
#u5947.mouseOver.mouseDown.selected.error.hint {
}
#u5947_img.focused.selected {
}
#u5947.focused.selected {
}
#u5947_img.focused.selected.error {
}
#u5947.focused.selected.error {
}
#u5947_img.focused.selected.hint {
}
#u5947.focused.selected.hint {
}
#u5947_img.focused.selected.error.hint {
}
#u5947.focused.selected.error.hint {
}
#u5947_img.selected.disabled {
}
#u5947.selected.disabled {
}
#u5947_img.selected.hint.disabled {
}
#u5947.selected.hint.disabled {
}
#u5947_img.selected.error.disabled {
}
#u5947.selected.error.disabled {
}
#u5947_img.selected.error.hint.disabled {
}
#u5947.selected.error.hint.disabled {
}
#u5947_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:30px;
  white-space:nowrap;
  text-transform:none;
}
#u5947_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(51, 51, 51, 0.7490196078431373);
}
#u5948 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:156px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(51, 51, 51, 0.7490196078431373);
}
#u5948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5948_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Songti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5950 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:182px;
  width:94px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Songti SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u5950 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5951 label {
  left:0px;
  width:100%;
  height:100%;
}
#u5951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u5951 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:186px;
  width:43px;
  height:15px;
  display:flex;
  transition:none;
}
#u5951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u5951_img.selected {
}
#u5951.selected {
}
#u5951_img.disabled {
}
#u5951.disabled {
}
#u5951_img.selected.error {
}
#u5951.selected.error {
}
#u5951_img.selected.hint {
}
#u5951.selected.hint {
}
#u5951_img.selected.error.hint {
}
#u5951.selected.error.hint {
}
#u5951_img.mouseOver.selected {
}
#u5951.mouseOver.selected {
}
#u5951_img.mouseOver.selected.error {
}
#u5951.mouseOver.selected.error {
}
#u5951_img.mouseOver.selected.hint {
}
#u5951.mouseOver.selected.hint {
}
#u5951_img.mouseOver.selected.error.hint {
}
#u5951.mouseOver.selected.error.hint {
}
#u5951_img.mouseDown.selected {
}
#u5951.mouseDown.selected {
}
#u5951_img.mouseDown.selected.error {
}
#u5951.mouseDown.selected.error {
}
#u5951_img.mouseDown.selected.hint {
}
#u5951.mouseDown.selected.hint {
}
#u5951_img.mouseDown.selected.error.hint {
}
#u5951.mouseDown.selected.error.hint {
}
#u5951_img.mouseOver.mouseDown.selected {
}
#u5951.mouseOver.mouseDown.selected {
}
#u5951_img.mouseOver.mouseDown.selected.error {
}
#u5951.mouseOver.mouseDown.selected.error {
}
#u5951_img.mouseOver.mouseDown.selected.hint {
}
#u5951.mouseOver.mouseDown.selected.hint {
}
#u5951_img.mouseOver.mouseDown.selected.error.hint {
}
#u5951.mouseOver.mouseDown.selected.error.hint {
}
#u5951_img.focused.selected {
}
#u5951.focused.selected {
}
#u5951_img.focused.selected.error {
}
#u5951.focused.selected.error {
}
#u5951_img.focused.selected.hint {
}
#u5951.focused.selected.hint {
}
#u5951_img.focused.selected.error.hint {
}
#u5951.focused.selected.error.hint {
}
#u5951_img.selected.disabled {
}
#u5951.selected.disabled {
}
#u5951_img.selected.hint.disabled {
}
#u5951.selected.hint.disabled {
}
#u5951_img.selected.error.disabled {
}
#u5951.selected.error.disabled {
}
#u5951_img.selected.error.hint.disabled {
}
#u5951.selected.error.hint.disabled {
}
#u5951_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:30px;
  white-space:nowrap;
  text-transform:none;
}
#u5951_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5952 label {
  left:0px;
  width:100%;
  height:100%;
}
#u5952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:13px;
  height:13px;
}
#u5952 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:186px;
  width:43px;
  height:15px;
  display:flex;
  transition:none;
}
#u5952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u5952_img.selected {
}
#u5952.selected {
}
#u5952_img.disabled {
}
#u5952.disabled {
}
#u5952_img.selected.error {
}
#u5952.selected.error {
}
#u5952_img.selected.hint {
}
#u5952.selected.hint {
}
#u5952_img.selected.error.hint {
}
#u5952.selected.error.hint {
}
#u5952_img.mouseOver.selected {
}
#u5952.mouseOver.selected {
}
#u5952_img.mouseOver.selected.error {
}
#u5952.mouseOver.selected.error {
}
#u5952_img.mouseOver.selected.hint {
}
#u5952.mouseOver.selected.hint {
}
#u5952_img.mouseOver.selected.error.hint {
}
#u5952.mouseOver.selected.error.hint {
}
#u5952_img.mouseDown.selected {
}
#u5952.mouseDown.selected {
}
#u5952_img.mouseDown.selected.error {
}
#u5952.mouseDown.selected.error {
}
#u5952_img.mouseDown.selected.hint {
}
#u5952.mouseDown.selected.hint {
}
#u5952_img.mouseDown.selected.error.hint {
}
#u5952.mouseDown.selected.error.hint {
}
#u5952_img.mouseOver.mouseDown.selected {
}
#u5952.mouseOver.mouseDown.selected {
}
#u5952_img.mouseOver.mouseDown.selected.error {
}
#u5952.mouseOver.mouseDown.selected.error {
}
#u5952_img.mouseOver.mouseDown.selected.hint {
}
#u5952.mouseOver.mouseDown.selected.hint {
}
#u5952_img.mouseOver.mouseDown.selected.error.hint {
}
#u5952.mouseOver.mouseDown.selected.error.hint {
}
#u5952_img.focused.selected {
}
#u5952.focused.selected {
}
#u5952_img.focused.selected.error {
}
#u5952.focused.selected.error {
}
#u5952_img.focused.selected.hint {
}
#u5952.focused.selected.hint {
}
#u5952_img.focused.selected.error.hint {
}
#u5952.focused.selected.error.hint {
}
#u5952_img.selected.disabled {
}
#u5952.selected.disabled {
}
#u5952_img.selected.hint.disabled {
}
#u5952.selected.hint.disabled {
}
#u5952_img.selected.error.disabled {
}
#u5952.selected.error.disabled {
}
#u5952_img.selected.error.hint.disabled {
}
#u5952.selected.error.hint.disabled {
}
#u5952_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:30px;
  white-space:nowrap;
  text-transform:none;
}
#u5952_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u5953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5953 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:15px;
  width:255px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5955 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:512px;
  width:677px;
  height:222px;
}
#u5956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
  display:flex;
  transition:none;
}
#u5956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u5956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5957 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:0px;
  width:530px;
  height:30px;
  display:flex;
  transition:none;
  text-align:left;
}
#u5957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u5957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:147px;
  height:30px;
  display:flex;
  transition:none;
}
#u5958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u5958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5959 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:30px;
  width:530px;
  height:30px;
  display:flex;
  transition:none;
  text-align:left;
}
#u5959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u5959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:147px;
  height:30px;
  display:flex;
  transition:none;
}
#u5960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u5960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:60px;
  width:530px;
  height:30px;
  display:flex;
  transition:none;
  text-align:left;
}
#u5961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u5961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:147px;
  height:34px;
  display:flex;
  transition:none;
}
#u5962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:34px;
}
#u5962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:90px;
  width:530px;
  height:34px;
  display:flex;
  transition:none;
  text-align:left;
}
#u5963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:34px;
}
#u5963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:147px;
  height:34px;
  display:flex;
  transition:none;
}
#u5964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:34px;
}
#u5964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:124px;
  width:530px;
  height:34px;
  display:flex;
  transition:none;
  text-align:left;
}
#u5965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:34px;
}
#u5965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:158px;
  width:147px;
  height:34px;
  display:flex;
  transition:none;
}
#u5966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:34px;
}
#u5966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:158px;
  width:530px;
  height:34px;
  display:flex;
  transition:none;
  text-align:left;
}
#u5967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:34px;
}
#u5967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:147px;
  height:30px;
  display:flex;
  transition:none;
}
#u5968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:30px;
}
#u5968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:192px;
  width:530px;
  height:30px;
  display:flex;
  transition:none;
  text-align:left;
}
#u5969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:30px;
}
#u5969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:464px;
  width:151px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
