body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-14px;
  width:524px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7883 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:429px;
  width:60px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7883 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u7883_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u7884 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:429px;
  width:116px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6470588235294118);
  text-align:left;
  line-height:22px;
}
#u7884 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u7884_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:17px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u7888 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:240px;
  width:45px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u7888 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u7888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7889 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:243px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7889 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u7889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7890 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:236px;
  width:98px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7890 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 29px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:17px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u7893 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:296px;
  width:45px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u7893 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u7893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7894 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:299px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7894 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u7894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7895 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:292px;
  width:112px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7895 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 29px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7895_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7896 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:245px;
  width:182px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7896 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7896_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7897 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:302px;
  width:325px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border-radius:17px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u7900 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:363px;
  width:45px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft YaHei", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u7900 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u7900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:9px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u7901 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:366px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u7901 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u7901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7902 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:359px;
  width:123px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7902 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 29px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7903 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:369px;
  width:300px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7904 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:192px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7906 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:57px;
  width:81px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7906 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 29px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7906_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft Tai Le", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.403921568627451);
  text-align:left;
  line-height:22px;
}
#u7907 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:57px;
  width:370px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft Tai Le", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.403921568627451);
  text-align:left;
  line-height:22px;
}
#u7907 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7908 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:13px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7910 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:113px;
  width:70px;
  height:56px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.8470588235294118);
  text-align:right;
  line-height:22px;
}
#u7910 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 0px 29px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7910_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Microsoft Tai Le", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.403921568627451);
  text-align:left;
  line-height:22px;
}
#u7911 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:113px;
  width:370px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Microsoft Tai Le", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.403921568627451);
  text-align:left;
  line-height:22px;
}
#u7911 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u7911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
